<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Seguro Vida</title>

</head>
<body>
	
	<div th:replace="header"></div>
	<div class="icon">
		<i class="fa fa-heart fa-5x" aria-hidden="true" style="color:white"></i>
	</div>
	<div class="container" id="content" tabindex="-1">
		<div class="borda-div">
		<fieldset class="scheduler-border">
		<legend class="scheduler-border">Cadastro do Seguro Vida</legend>
		<br/>
		
		<form action="#" th:action="@{/item/gravar-seguroVida}" th:object="${itemSeguroVida}" method="post">
			<h5 class="text-info">INFORMAÇÕES SEGURO DE VIDA</h5>
			<br/>
			<div class="row">
				
				<div class="col-md-4">
					<div class="form-group">
						<label for="" class="control-label">Tipo</label>
						<select class="form-control" th:field="*{tipo}">
							<option value="0">Selecione</option>
							<option value="Seguro de Vida Individual">Seguro de Vida Individual</option>
							<option value="Seguro de Acidentes Pessoais">Seguro de Acidentes Pessoais</option>
							<option value="Seguro de Vida Coletivo">Seguro de Vida Coletivo</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="" class="control-label">Capital Segurado</label>
						<input type="text" th:field="*{capitalSegurado}" class="form-control" />
					</div>
				</div>
			</div>
			<br/>
		
			<div th:replace="item/item-seguro"></div>
			<br/>
			
			
			<div class="centralizar">
					<button type="submit" class="btn btn-success">Cadastrar</button>
			</div>
			
			
			
			
		</form>
		</fieldset>
		</div>
	</div>
	<div th:replace="footer"></div>
</body>
</html>
