<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Rastreador</title>

</head>
<body>
	
	<div th:replace="header"></div>
	<div class="icon">
	<i class="fa fa-search-plus fa-5x" aria-hidden="true" style="color:white"></i>
	</div>
	<div class="container" id="content" tabindex="-1">
		<div class="borda-div">
		<fieldset class="scheduler-border">
		<legend class="scheduler-border">Cadastro de Rastreador</legend>
		<br/>
		
		<form action="#" th:action="@{/item/gravar-seguroRastreador}" th:object="${itemSeguroRastreador}" method="post">
			<div class="row">
			<div class="col-md-5">
				<div class="form-group">

					 <div class="input-group">
					 	<input class="form-control typeahead" name="query" id="query" placeholder="Digite um nome ou cpf" type="text" />
					 	<span class="input-group-btn">
					 		<a href="#" th:href="'javascript:selecionarSegurado(\''+ rastreador +'\')'" class="btn btn-success"  data-toggle="tooltip" data-loading-text="carregando .." title="Seleciona um Segurado">
					 			<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
					 		</a>
					 	</span>
					</div>
					<p class="help-block " ><ins>Encontre o segurado para vincular ao seguro.</ins></p>
				</div>				
			</div>
			</div>
		
			<br/>
			<div th:replace="comum/automovel"></div>
			<br/>
			<br/>
			
			<div th:replace="item/item-seguro"></div>
			
			
			<hr/>
			<div class="centralizar">
					<button type="submit" class="btn btn-success">Cadastrar</button>
			</div>
		</form>
		</fieldset>
		</div>
	</div>
	<div th:replace="footer"></div>
	
	
</body>
</html>
