<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Seguro Odontologico</title>

</head>
<body>
	
	<div th:replace="header"></div>
	<div class="icon">
		<img src="../../img/icone/molar-grande.png" alt="" />
	</div>
	<div class="container" id="content" tabindex="-1">
		<div class="borda-div">
		<fieldset class="scheduler-border">
		<legend class="scheduler-border">Cadastro do Seguro Odontologico</legend>
		<br/>
		
		<form action="#" th:action="@{/item/gravar-seguroOdontologico}" th:object="${itemSeguroOdontologico}" method="post">
			<div class="row">
			<div class="col-md-5">
				<div class="form-group">

					 <div class="input-group">
					 	<input class="form-control typeahead" name="query" id="query" placeholder="Digite um nome ou cpf" type="text" />
					 	<span class="input-group-btn">
					 		<a href="#" th:href="'javascript:selecionarSegurado(\''+ odontologico +'\')'" class="btn btn-success"  data-toggle="tooltip" data-loading-text="carregando .." title="Seleciona um Segurado">
					 			<i class="glyphicon glyphicon-user" aria-hidden="true"></i>
					 		</a>
					 	</span>
					</div>
					<p class="help-block " ><ins>Encontre o segurado para vincular ao seguro.</ins></p>
				</div>				
			</div>
			</div>
			
			<br/>
			<h5 class="text-info">INFORMAÇÕES SEGURO DE ODONTOLOGICO</h5>
			<br/>
			
			<div class="row">
				
				<div class="col-md-4">
					<div class="form-group">
						<label for="" class="control-label">Tipo</label>
						<select class="form-control" th:field="*{tipo}">
							<option value="0">Selecione</option>
							<option value="Seguro de Odontologico Individual">Seguro de Odontologico Individual</option>
							<option value="Seguro de Odontologico Coletivo">Seguro de Odontologico Coletivo</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label for="" class="control-label">Operadora</label>
						<input type="text" th:field="*{operadora}" class="form-control" />
					</div>
				</div>
			</div>
			<br/>
		
			<div th:replace="item/item-seguro"></div>
			<br/>
			
			
			<div class="centralizar">
					<button type="submit" class="btn btn-success">Cadastrar</button>
			</div>
			
		</form>
		</fieldset>
		</div>
	</div>
	<div th:replace="footer"></div>
	
	
	
</body>
</html>
