@CHARSET "UTF-8";
.centralizar{
    text-align: center;
}

.navbar-default .navbar-nav>li>a {
    color: #FFF;
}

body{
	background-color: #5F6789;
	padding-top: 70px;
}


hr{
	border: 1px solid #E7E7E7;
}

.navbar-default {
    background-color: #39436D;
    border-color: #e7e7e7;
}

.borda-div{
	border:1px solid #CCC;
	padding: 40px;
	border-radius:10px;
	background-color: #F1F1F1;
	margin-left: 25px;
}


legend{
	text-transform: uppercase;
	color: #5CB85C;
}
.icon{
	margin-left: 10px;
	float: left;
}

footer{
	margin-bottom: 15px;
}


.navbar-default .navbar-nav>li>a:hover{
	color:  #5F6789;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color:  #5F6789
}