<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Consulta de Segurado</title>
</head>
<body>

	<div th:replace="header"></div>
	<div class="container" id="content" tabindex="-1">
	<div class="borda-div">
	<fieldset class="scheduler-border">
		<legend class="scheduler-border">Consulta do Segurado</legend>

		<form action="#" th:action="@{/segurado/buscar}"  method="get">

			<div class="row"  th:object="${segurado}">
				<div class="col-md-4"></div>
				<div class="col-md-4">

					
					<div class="form-group" id="consulta-segurado">
						<label for="" class="control-label">Segurado</label> 
						<input	type="text"    class="form-control" th:field="*{nome}" />
					</div>

					<div class="form-group" id="consulta-cpf">
						<label for="" class="control-label">CPF</label> 
						<input type="text"	class="form-control cpf" th:field="*{cpf}" />
					</div>
					<div class="form-group" id="consulta-telefone">
						<label for="" class="control-label">Telefone</label> 
						<input class="form-control telefone" type="text" th:field="*{telefone}" />
					</div>

					<div class="form-group" id="consulta-cep">
						<label for="" class="control-label">CEP</label> 
						<input type="text"	class="form-control cep" th:field="*{cep}" />
					</div>
				</div>
			</div>
			<hr/>
			<div class="centralizar">
				<button type="submit"  class="btn btn-primary">Consultar</button>
			</div>
		</form>
	
	<div th:if="${listaSegurados ne null and not listaSegurados.empty}">
		<br />
		<br />
		<br />
	<legend class="scheduler-border">Segurados</legend>
	<br />
	<br />
	<table class="table table-hover" id="tab-segurado" >

		<tr>
			<th>Nome</th>
			<th>Cpf</th>
			<th>Telefone</th>
			<th>Cep</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="segurado : ${listaSegurados}">
			<td><span th:text="${segurado.nome}"></span></td>
			<td><span th:text="${segurado.cpf}"></span></td>
			<td><span th:text="${segurado.telefone}"></span></td>
			<td><span th:text="${segurado.cep}"></span></td>
			<td><a href="#" th:href="@{/segurado/alterarSegurado(id=${segurado.id})}"><i class="glyphicon glyphicon-pencil" aria-hidden="true" data-toggle="tooltip" title="Editar Segurado "></i></a></td>
			<td><a href="#" th:href="@{/segurado/visualizar(id=${segurado.id})}"><i class="glyphicon glyphicon-paste" aria-hidden="true" data-toggle="tooltip" title="Detalhes do Segurado"></i></a></td>
			
		</tr>
	</table>
	</div>
		</fieldset>
	</div>
	
		</div>
		

	
	<!-- Button trigger modal -->

	<div th:replace="footer"></div>


</body>
</html>