<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Segurado</title>
</head>
<body>
	<div th:replace="header"></div>
	
	<div class="container" id="content" tabindex="-1">
		<fieldset class="scheduler-border">
		<legend class="scheduler-border">Informações do Segurado</legend>
		<form action="#" th:action="@{/segurado/gravar}" th:object="${segurado}" method="post">

		<div class="row" >
			<div class="col-md-6"> 
				<div class="form-group">
					<dl>
						<dt>Segurado:</dt>
						<dd class="text-info" th:text="*{nome}"></dd>
					</dl>
				</div>
	
				<div class="form-group">
					<dl>
						<dt>CPF:</dt>
						<dd class="text-info" th:text="*{cpf}"></dd>
					</dl>
				</div>
				<div class="form-group">
				
					<dl>
						<dt>Telefone:</dt>
						<dd class="text-info" th:text="*{telefone}"></dd>
					</dl>
				</div>
			</div>
			<div class="col-md-6">
				<div class="form-group">
				
					<dl>
						<dt>CEP:</dt>
						<dd class="text-info" th:text="*{cep}"></dd>
					</dl>
				</div>
				<div class="form-group">
					<dl>
						<dt>e-mail:</dt>
						<dd class="text-info" th:text="*{email}"></dd>
					</dl>
				</div>
					<div class="form-group">
						<dl>
						<dt>Data de Nascimento:</dt>
						<dd class="text-info" th:text="*{#dates.format(dataDeNascimento, 'dd/MM/yyyy')}"></dd>
					</dl>
					</div>
					
			</div>
		</div>
			<br />
			<br />
			<div class="centralizar">
				<input type="button" class="btn btn-default" onclick="voltar();" value="Voltar"></input>
				<a href="#" th:href="@{/segurado/cadastrar-item(id=${segurado.id})}" class="btn btn-success">Cadastrar Item de Seguro</a>
			</div>
		</form>
		
		<table class="table table-hover" id="tab-segurado" th:if="${listaSegurados ne null and not listaSegurados.empty}">

		<tr>
			<th>Modelo</th>
			<th>Data de Fabricacao</th>
			<th>Telefone</th>
			<th>Placa</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="itemSeguro : ${listaItemSeguro}">
			<td><span th:text="${itemSeguro.nome}"></span></td>
			<td><span th:text="${itemSeguro.cpf}"></span></td>
			<td><span th:text="${itemSeguro.telefone}"></span></td>
			<td><span th:text="${itemSeguro.cep}"></span></td>
			<td><a href="#" th:href="@{/segurado/alterarSegurado(id=${segurado.id})}">Atualizar</a></td>
			<td><a href="#" th:href="@{/segurado/visualizar(id=${segurado.id})}">Detalhes</a></td>
		</tr>
		</table>
		
	</fieldset>

	</div>
	
	
</body>
</html>
