<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Segurado</title>
</head>
<body>
	<div th:replace="header"></div>

	<div class="container" id="content" tabindex="-1">
	<div class="borda-div">
		<fieldset class="scheduler-border">
		<legend class="scheduler-border">Informações do Segurado</legend>
		<form action="#" th:action="@{/segurado/gravar}" th:object="${segurado}" method="post">

					
					
					<div th:replace="comum/informacao-segurado"></div>
					
					
					<hr/>
					<div class="centralizar">
						<input type="button" class="btn btn-default" onclick="voltar();" value="Voltar" style="width:139px"></input> 
						<a href="#"	th:href="@{/segurado/cadastrar-item(id=${segurado.id})}" class="btn btn-success">Cadastrar Seguro</a>
					</div>
				</form>
				<div th:if="${!listaItemSeguro.empty}">
					 <br />
				
					<table class="table table-hover" id="tab-segurado">
					<caption>Seguros</caption>
						<tr>
							<th>Tipo de Seguro</th>
							<th>Seguradora</th>
							<th>Data de Vigência Inicial</th>
							<th>Data de Vigência Final</th>
						</tr>
						<tr th:each="itemSeguro : ${listaItemSeguro}">
							<td><span th:text="${itemSeguro.tipoSeguro}"></span></td>
							<td><span th:text="${itemSeguro.ciaSeguradora}"></span></td>
							<td><span th:text="${#dates.format(itemSeguro.dataInicioVigencia, 'dd/MM/yyyy')}"></span></td>
							<td><span th:text="${#dates.format(itemSeguro.dataFimVigencia, 'dd/MM/yyyy')}"></span></td>
						</tr>
					</table>
				</div>
			</fieldset>
		</div>
	</div>
	<div th:replace="footer"></div>

</body>
</html>
