<!DOCTYPE html>
<meta charset="UTF-8" />

<footer class="section section-primary">
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="text-align: center;color:#CCC">
				<h2>SISTEMA GERENCIADOR DE SEGUROS</h2>
				<p>copyright © corretora de seguros 2017</p>
			</div>
			
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<div class="col-md-12">
				<p class="text-right" style="color:white;margin-right: 180px">
					Contatos:
					<br />
				</p>
				
				<div class="row">
					<div class="col-md-12 text-right">
						<a href="#"><i
							class="fa fa-3x fa-fw fa-instagram text-inverse" style="color: white"></i></a> <a href="#"><i
							class="fa fa-3x fa-fw fa-twitter text-inverse" style="color: white"></i></a> <a href="#"><i
							class="fa fa-3x fa-fw fa-facebook text-inverse" style="color: white"></i></a> <a href="#">
							</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<script th:inline="javascript">
	/*<![CDATA[*/	
  var seguradoData = [];

  var seguradosList = [[${listaSegurado}]]
	if(seguradosList != null || seguradosList != undefined){
	  for (i = 0; i < seguradosList.length; i++) {
		  seguradoData.push(seguradosList[i]);
	  }

	}

  

  /*]]>*/
  
var substringMatcher = function (strings) {
    return function findMatches(query, callback) {
        var matches;

        // an array that will be populated with substring matches
        matches = [];

        // regex used to determine if a string contains the substring `q`
        substrRegex = new RegExp(query, 'i');

        // iterate through the pool of strings and for any string that
        // contains the substring `q`, add it to the `matches` array
        $.each(strings, function (i, str) {
            if (substrRegex.test(str)) {
                matches.push(str);
            }
        });

        callback(matches);
    };
};


var options = {};
var dataSet = {
    source: substringMatcher(seguradoData)
};

$('.typeahead').typeahead(options, dataSet);

$('button.remove').click(
    function () {
        $('.typeahead').typeahead('val', '').trigger('typeahead:idle');
    }
);

$('.btn').on('click', function() {
    var $this = $(this);
  $this.button('loading');
    setTimeout(function() {
       $this.button('reset');
   }, 1000);
});
  
</script>

