<!DOCTYPE html>
<meta charset="UTF-8" />

<footer class="section section-primary">
	<div class="container">
		<div class="row">
			<div class="col-md-12" style="text-align: center;color:#CCC">
				<h2>SISTEMA GERENCIADOR DE SEGUROS</h2>
				<p>copyright © corretora de seguros 2017</p>
			</div>
			
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<br />
			<div class="col-md-12">
				<p class="text-right" style="color:white;margin-right: 180px">
					Contatos:
					<br />
				</p>
				
				<div class="row">
					<div class="col-md-12 text-right">
						<a href="#"><i
							class="fa fa-3x fa-fw fa-instagram text-inverse" style="color: white"></i></a> <a href="#"><i
							class="fa fa-3x fa-fw fa-twitter text-inverse" style="color: white"></i></a> <a href="#"><i
							class="fa fa-3x fa-fw fa-facebook text-inverse" style="color: white"></i></a> <a href="#">
							</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

