<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Segurado</title>
<link href="../../bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link href="../../css/estilo.css" rel="stylesheet" />
<link rel="stylesheet prefetch" href="http://fonts.googleapis.com/css?family=Open+Sans:600"/>

<script src="../../js/jquery-3.1.1.min.js"></script>
<script src="../../js/jquery-ui.min.js"></script>
<script src="../../bootstrap/js/bootstrap.min.js"></script>
<script src="../../js/segurado/segurado-script.js"></script>
<script src="../../js/jquery-mask.js"></script>


<style>
</style>
</head>
<body>

<header>
	<nav class="navbar navbar-default ">
		<ul class="nav navbar-nav">
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user" aria-hidden="true"></i> &nbsp;Segurado <b class="caret"></b></a>
				<ul class="dropdown-menu">
                  <li><a href="#" th:href="@{/segurado/cadastro-segurado}"><i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i> &nbsp;Cadastro do Segurado</a></li>
                  <li><a href="#" th:href="@{/segurado/consulta-segurado}"><i class="glyphicon glyphicon-search" aria-hidden="true"></i> &nbsp;Consultar Segurado</a></li>
                </ul>
			</li>
			<li class="dropdown">
				<a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-folder-open" aria-hidden="true"></i> &nbsp;Item Seguro <b class="caret"></b></a>
				<ul class="dropdown-menu">
                  <li><a href="#" th:href="@{/item/cadastro-seguroAutomovel}"> <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i> &nbsp;Seguro de Automóvel </a></li>
                  <li><a href="#" th:href="@{/item/cadastro-seguroResidencial}"> <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i> &nbsp;Seguro de Residência </a></li>
                  <li><a href="#" th:href="@{/item/cadastro-seguroEmpresarial}"> <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i> &nbsp;Seguro Empresarial </a></li>
                  <li><a href="#" th:href="@{/item/cadastro-seguroVida}"> <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i> &nbsp;Seguro Vida </a></li>
                  <li><a href="#" th:href="@{/item/cadastro-seguroAluguel}"> <i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i> &nbsp;Seguro de Aluguel </a></li>
                </ul>
			</li>
		</ul>
		<ul class="pull-right" style="margin-top:12px;margin-right:12px">
			<span><img alt="logout" src="../../img/brand-nav.png" width="22px" height="22px" /></span>
		</ul>
	</nav>
</header>
</body>
</html>
